<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtdp.dao.DBInfoFetchMapper">

    <select id="getDBTableInfo" resultType="mtdp.po.DBTablePo">
        <![CDATA[
			SELECT
			a.name as tableName, b.rows as tableRows
			FROM sysobjects AS a
			INNER JOIN sysindexes AS b
			ON a.id = b.id
			WHERE (a.type = 'u') AND (b.indid IN (0, 1))
			ORDER BY a.name,b.rows DESC
        ]]>
    </select>

    <select id="getDBTableFieldsInfo" resultType="mtdp.po.DBTableFieldPo" parameterType="java.lang.String">
        <![CDATA[
          Select
          Name as fieldName,
          type_name(xusertype) as filedType,
          length as filedLength
          FROM SysColumns
          Where id=Object_Id(#{tableName})
        ]]>
    </select>

</mapper>
